@font-face {
    font-family: "myFirstFont";
    src: url("../WeekendWarrior.ttf");
}

body {
    font-family: "myFirstFont";
    color: #f59647;
    background-color: black;
}

div.navigation {
    height: 110px;
    width: 100%;
    background-color: black;
    color: #f59647;
}

button.navigation {
    height: 110px;
    width: 200px;
    background-color: black;
    font-family: "myFirstFont";
    color: #f59647;
    font-size: 40px;
    border-style: none;
    float: right;
    margin-right: 10px;
}

button.navigation:hover {
    height: 110px;
    width: 200px;
    background-color: black;
    font-family: "myFirstFont";
    color: #f59647;
    text-decoration: underline;
    text-decoration-color: #f59647;
    font-size: 40px;
    border-style: none;
    float: right;
}

h1 {
    text-align: center;
    font-family: "myFirstFont";
    color: #f59647;
    font-size: 120px;
}
